html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #161616;
  background-color: #ECDBBA;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: column;

}

.title {
  font-weight: bold;
  color: #C84B31;
}



