html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232323;
  background-color: #FBFAF7;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
/*   justify-content: center;
  align-items: center; */
}

.container {
  height: 100vh;
  margin: 0px 250px 0 250px;
  display: flex;
  flex-direction: column;
/*   justify-content: center;
  align-items: center; */
}

